{% extends 'Calendar/base.html' %}
{% load static %}
{% block style %}
<!-- <link rel="stylesheet" href="{% static 'css/auth.css' %}"> -->
{% endblock style %}
{% block body %}

<div class="container">
    {% if meeting %}
    <div class="pb-4 pt-2 d-block mx-auto">
        <div class="card mb-4 mt-3">
            <div class="card-body px-4 mb-2">
                <form method="POST">
                    {% csrf_token %}
                    <h3>Add New Meeting</h3>
                    <hr>
                    <input type="text" name="event" value="Meeting" hidden>
                    <div class="row mb-2">
                        <div class="col">
                            <label for="date" class="form-label">Date</label>
                            <input type="date" id="date" name="date" class="form-control" placeholder="First name"
                                aria-label="First name" required>
                        </div>
                        <div class="col">
                            <label for="time" class="form-label">Time</label>
                            <input type="time" id="time" name="time" class="form-control" placeholder="Last name"
                                aria-label="Last name" required>
                        </div>
                    </div>
                    <div class="mb-2">
                        <label for="inputAddress" class="form-label">Meeting Type</label>
                        <select class="form-select" id="meetType" name="meetType" onchange="toggleMeetType();" required>
                            <option value="0" selected>
                                --- Select ---</option>
                            <option value="1">
                                Virtual</option>
                            <option value="2">
                                Visit</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" class="form-control" id="title" name="title" placeholder="Meeting title"
                            required>
                    </div>

                    {% if meetings %}
                    <label for="meetRef" class="form-label">Meeting Reference</label>
                    <select class="form-select" id="meetRef" name="meetRef">
                        <option value="0">
                            --- Select ---</option>
                        {% for meet in meetings %}
                        <option value="{{meet.id}}">{{meet.title}} on {{meet.date}} {{meet.time}}</option>
                        {% endfor %}
                    </select>
                    {% endif %}

                    <div class="mt-2" id="addr" hidden>
                        <label for="inputAddress" class="form-label">Meeting Address</label>
                        <input type="text" class="form-control" id="inputAddress" name="meetAddr"
                            placeholder="Meeting Place Address">
                    </div>

                    <div class="mt-2" id="url" hidden>
                        <label for="inputUrl" class="form-label">Meeting URL</label>
                        <input type="url" class="form-control" id="inputUrl" name="meetUrl" placeholder="Meeting URL">
                    </div>

                    <div class="input-group mt-4">
                        <span class="input-group-text">Description</span>
                        <textarea class="form-control" aria-label="With textarea" name="desc" rows="2"
                            required></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary mt-3">Submit</button>
                </form>
            </div>
        </div>
    </div>
    {% else %}
    <div class="pb-4 pt-2 d-block mx-auto">
        <div class="card mb-4 mt-3">
            <div class="card-body px-4">
                <form method="POST">
                    {% csrf_token %}
                    <h3>Add New Task</h3>
                    <hr>
                    <input type="text" name="event" value="Task" hidden>
                    <div class="row mb-2">
                        <div class="col">
                            <label for="date" class="form-label">Deadline Date</label>
                            <input type="date" id="date" name="date" class="form-control" placeholder="First name"
                                aria-label="First name" required>
                        </div>
                        <div class="col">
                            <label for="time" class="form-label">Deadline Time</label>
                            <input type="time" id="time" name="time" class="form-control" placeholder="Last name"
                                aria-label="Last name" required>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="inputAddress" class="form-label">Task Group</label>
                        <select class="form-select" id="taskGrp" name="taskGrp" required onchange="toggleTaskGroup();">
                            <option value="-1" selected>Independent</option>
                            <option value="0">Add New</option>
                            {% for task in tasks %}
                            {% if task.taskGroup != "" %}
                            <option value="{{taskName}}">{{task.taskGroup}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3" id="taskgrp" hidden>
                        <label for="task" class="form-label">Task Group Title</label>
                        <input type="text" class="form-control" id="grpTitle" name="grpTitle" placeholder="Task Group title">
                    </div>
                    <div class="mb-3">
                        <label for="task" class="form-label">Title</label>
                        <input type="text" class="form-control" id="title" name="title" placeholder="Task title" required>
                    </div>
                    {% if not meeting %}
                    <label for="meetRef" class="form-label">Task Reference</label>
                    <select class="form-select" id="taskRef" name="taskRef">
                        <option value="0">
                            --- Select ---</option>
                        {% for task in tasks %}
                        <option value="{{task.id}}">{{task.title}} on {{task.date}} {{task.time}}</option>
                        {% endfor %}
                    </select>
                    {% endif %}
                    <div class="input-group mt-4">
                        <span class="input-group-text">Task Description</span>
                        <textarea class="form-control" aria-label="With textarea" name="desc" rows="2"
                            required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Submit</button>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
</div>

{% endblock body %}

{% block javascript %}
<script>
    function toggleMeetType() {
        if (document.getElementById("meetType").value == 1) {
            document.getElementById("url").hidden = false;
            document.getElementById("addr").hidden = true;
        } else if (document.getElementById("meetType").value == 2) {
            document.getElementById("addr").hidden = false;
            document.getElementById("url").hidden = true;
        }
        else {
            document.getElementById("addr").hidden = true;
            document.getElementById("url").hidden = true;
        }
    }
    function toggleTaskGroup() {
        if (document.getElementById('taskGrp').value == 0) {
            document.getElementById('taskgrp').hidden = false;
        }
        else {
            document.getElementById('taskgrp').hidden = true;
        }
    }
</script>
{% endblock javascript %}