{% extends 'Calendar/base.html' %}
{% load static %}

{% block style %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"
    integrity="sha256-0YPKAwZP7Mp3ALMRVB2i8GXeEndvCq3eSl/WsAl1Ryk=" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css"
    href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">

<!-- jQuery -->
<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>

<!-- DataTables -->
<script type="text/javascript" charset="utf8"
    src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
{% endblock style %}
{% block body %}

<div class="container mt-3" style="min-height: 100vh;">
    <div class="row align-items-center">
        <div class="col-md-11 col-sm-9 col-xl-11">
            <h1>Your Events</h1>
        </div>
        <div class="col-md-1 col-sm-3 col-xl-1">
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-sm btn-primary dropdown-toggle"
                        data-mdb-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-plus"></i> New
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        {% for item in eventTypes %}
                        <li>
                            <a class="dropdown-item border-bottom"
                                href="{% url 'Add-New' %}?eventTypes={{item}}">{{item}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% if meetings %}
    <div class="d-block mx-auto">
        <div class="card">
            <div class="card-body">
                <h2>{{eventTypes.Meeting}}</h2>
                <hr>
                <table class="table table-hover" id="{{eventTypes.Meeting}}">
                    <thead>
                        <tr class="bg-dark text-white">
                            <th scope="col">Meeting Time</th>
                            <th scope="col">Title</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for meet in meetings %}
                        <tr>
                            <td scope="row">
                                <h6>
                                    <div>
                                        <div class="col-sm-12">{{meet.date}}</div>
                                        <div class="col-sm-12">{{meet.time}}</div>
                                    </div>
                                </h6>
                            </td>
                            <td>
                                <h6>
                                    <a
                                        href="{% url 'Show-Event' %}?type={{eventTypes.Meeting}}&id={{meet.id}}">{{meet.title|truncatechars:25}}</a>
                                </h6>
                            </td>
                            <td>
                                <a href="{% url 'Show-Event' %}?type={{eventTypes.Meeting}}&id={{meet.id}}"
                                    class="btn bg-white btn-sm my-1"><i class="fa fa-eye"></i></a>
                                <a href="{% url 'Event-Delete' %}?type={{eventTypes.Meeting}}&id={{meet.id}}"
                                    class="btn bg-danger btn-sm my-1"><i class="fa fa-trash text-white"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="row align-items-center" style="font-size: smaller;">
                    <div class="col-md-2 col-sm-3">
                        {% if prevMeet == "#" %}
                        <a class="page-link btn-block btn btn-sm mx-1 bg-dark text-white" href="#" tabindex="-1"
                            aria-disabled="true"><i class="fa fa-angle-left text-white"></i></a>
                        {% else %}
                        <a class="page-link btn-block btn btn-sm mx-1 bg-dark text-white"
                            href="{% url 'App-Home' %}?type={{eventTypes.Meeting}}&page={{prevMeet}}" tabindex="-1"
                            aria-disabled="true"><i class="fa fa-angle-left text-white"></i>
                        </a>
                        {% endif %}
                    </div>
                    <div class="col-md-8 col-sm-6">
                        <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center;"
                            class="my-2">
                            {% for i in totalPagesMeeting %}
                            {% if i == currMeetPage %}
                            <a class="page-link btn btn-sm mx-1 bg-dark text-white" href="#">{{i}}</a>
                            {% else %}
                            <a class="page-link btn btn-sm mx-1 btn-primary"
                                href="{% url 'App-Home' %}?type={{eventTypes.Meeting}}&page={{i}}">{{i}}</a>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3">
                        {% if nextMeet == "#" %}
                        <a class="page-link btn-block btn btn-sm mx-1 bg-dark text-white" href="#"><i
                                class="fa fa-angle-right text-white"></i></a></a>
                        {% else %}
                        <a class="page-link btn-block btn btn-sm mx-1 bg-dark text-white"
                            href="{% url 'App-Home' %}?type={{eventTypes.Meeting}}&page={{nextMeet}}"><i
                                class="fa fa-angle-right text-white"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% else %}
            <p class="text-center text-muted">No Meetings added yet!</p>
            {% endif %}
        </div>
    </div>

    <br>
    
    {% if tasks %}
    <div class="d-block mx-auto">
        <div class="card">
            <div class="card-body">
                <h2>{{eventTypes.Task}}</h2>
                <hr>
                <table class="table table-hover" id="{{eventTypes.Task}}">
                    <thead>
                        <tr class="bg-dark text-white">
                            <th scope="col">Deadline</th>
                            <th scope="col">Title</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in tasks %}
                        <tr>
                            <td scope="row">
                                <h6>
                                    <div style="display: block;">
                                        <div class="col-sm-12">{{task.date}}</div>
                                        <div class="col-sm-12">{{task.time}}</div>
                                    </div>
                                </h6>
                            </td>
                            <td>
                                <h6>
                                    <a
                                        href="{% url 'Show-Event' %}?type={{eventTypes.Task}}&id={{task.id}}">{{task.title|truncatechars:25}}</a>
                                </h6>
                            </td>
                            <td>
                                <a href="{% url 'Show-Event' %}?type={{eventTypes.Task}}&id={{task.id}}"
                                    class="btn btn-sm bg-white my-1"><i class="fa fa-eye"></i></a>
                                <a href="{% url 'Event-Delete' %}?type={{eventTypes.Task}}&id={{task.id}}"
                                    class="btn btn-sm bg-danger my-1"><i class="fa fa-trash text-white"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="row align-items-center" style="font-size: smaller;">
                    <div class="col-md-2 col-sm-3">
                        {% if prevTask == "#" %}
                        <a class="page-link  btn-block btn btn-sm mx-1 bg-dark text-white" href="#" tabindex="-1"
                            aria-disabled="true"><i class="fa fa-angle-left text-white"></i></a>
                        {% else %}
                        <a class="page-link  btn-block btn btn-sm mx-1 bg-dark text-white"
                            href="{% url 'App-Home' %}?type={{eventTypes.Task}}&page={{prevTask}}" tabindex="-1"
                            aria-disabled="true"><i class="fa fa-angle-left text-white"></i></a>
                        {% endif %}
                    </div>
                    <div class="col-md-8 col-sm-6">
                        <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center;"
                            class="my-2">
                            {% for i in totalPagesTask %}
                            {% if i == currTaskPage %}
                            <a class="page-link btn btn-sm mx-1 bg-dark text-white" href="#">{{i}}</a>
                            {% else %}
                            <a class="page-link btn btn-sm mx-1 btn-primary"
                                href="{% url 'App-Home' %}?type={{eventTypes.Task}}&page={{i}}">{{i}}</a>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3">
                        {% if nextTask == "#" %}
                        <a class="page-link btn-block btn btn-sm mx-1 bg-dark text-white" href="#"><i
                                class="fa fa-angle-right text-white"></i></a>
                        {% else %}
                        <a class="page-link btn-block btn btn-sm mx-1 bg-dark text-white"
                            href="{% url 'App-Home' %}?type={{eventTypes.Task}}&page={{nextTask}}"><i
                                class="fa fa-angle-right text-white"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% else %}
            <p class="text-center text-muted">No Tasks added yet!</p>
            {% endif %}
            <br>
        </div>
    </div>
</div>

{% endblock body %}

{% block javascript %}
<script>
    // $('#{{eventTypes.Meeting}}').DataTable();
    // $('#{{eventTypes.Task}}').DataTable();
</script>
{% endblock javascript %}