{% extends 'Calendar/base.html' %}
{% load static %}
{% block style %}
<!-- <link rel="stylesheet" href="{% static 'css/auth.css' %}"> -->
{% endblock style %}

{% block body %}
<div class="container">
    {% if meeting and meetingDetails %}
    <div class="pb-4 pt-2 d-block mx-auto">
        <div class="card mb-4 mt-3">
            <div class="card-body px-4 mb-2">
                <form method="POST" action="{% url 'Add-New' %}">
                    {% csrf_token %}
                    <h3>{{eventTypes.Meeting}} Details</h3>
                    <hr>
                    <input type="text" name="event" value="Meeting" hidden>
                    <input type="text" name="meetID" value="{{meetingDetails.id}}" hidden>
                    <div class="row mb-2">
                        <div class="col">
                            <label for="date" class="form-label">Date</label>
                            {% if view %}
                            <input type="date" id="date" name="date" class="form-control" placeholder="First name"
                                aria-label="First name" value="{{meetingDetails.date}}">
                            {% else %}
                            <input type="date" id="date" name="date" class="form-control" placeholder="First name"
                                aria-label="First name" required>
                            {% endif %}
                        </div>
                        <div class="col">
                            <label for="time" class="form-label">Time</label>
                            {% if view %}
                            <input type="time" id="time" name="time" class="form-control" placeholder="Last name"
                                aria-label="Last name" value="{{meetingDetails.time}}">
                            {% else %}
                            <input type="time" id="time" name="time" class="form-control" placeholder="Last name"
                                aria-label="Last name" required>
                            {% endif %}
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        {% if view %}
                        <input type="text" class="form-control" id="title" name="title" placeholder="Meeting title"
                            value="{{meetingDetails.title}}">
                        {% else %}
                        <input type="text" class="form-control" id="title" name="title" placeholder="Meeting title"
                            required>
                        {% endif %}
                    </div>

                    {% if meetings %}
                    <div class="mb-2">
                        <label for="meetRef" class="form-label">Meeting Reference</label>
                        {% if view %}
                        <div class="row align-items-center">
                            {% if meetingDetails.refMeet != 0 %}
                            <div class="col-md-10 col-sm-9 col-xl-10">
                                <select class="form-select" id="meetRef" name="meetRef">
                                    <option value="-1">
                                        --- Select ---</option>
                                    {% if meetingDetails.refMeet == 0 %}
                                    <option value="0" selected>
                                        Independent Meeting &check;</option>
                                    {% else %}
                                    <option value="0">
                                        Independent Meeting</option>
                                    {% endif %}
                                    {% for meet in meetings %}
                                    {% if meet.id == meetingDetails.refMeet %}
                                    <option value="{{meet.id}}" selected><span class="bg-primary">{{meet.title}} on
                                            {{meet.date}} {{meet.time}} &check;</span></option>
                                    {% else %}
                                    <option value="{{meet.id}}">{{meet.title}} on {{meet.date}} {{meet.time}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            {% else %}
                            <div class="">
                                <select class="form-select" id="meetRef" name="meetRef">
                                    <option value="-1">
                                        --- Select ---</option>
                                    {% if meetingDetails.refMeet == 0 %}
                                    <option value="0" selected>
                                        Independent Meeting &check;</option>
                                    {% else %}
                                    <option value="0">
                                        Independent Meeting</option>
                                    {% endif %}
                                    {% for meet in meetings %}
                                    {% if meet.id == meetingDetails.refMeet %}
                                    <option value="{{meet.id}}" selected><span class="bg-primary">{{meet.title}} on
                                            {{meet.date}} {{meet.time}} &check;</span></option>
                                    {% else %}
                                    <option value="{{meet.id}}">{{meet.title}} on {{meet.date}} {{meet.time}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            {% endif %}

                            {% if meetingDetails.refMeet != 0 %}
                            <div class="col-md-2 col-sm-3 col-xl-2">
                                <a href="{% url 'Show-Event' %}?type={{eventTypes.Meeting}}&id={{meetingDetails.refMeet}}"
                                    target="_blank" class="btn btn-primary btn-sm">Show</a>
                            </div>
                            {% endif %}
                        </div>
                        {% else %}
                        <select class="form-select" id="meetRef" name="meetRef">
                            <option value="0">
                                --- Select ---</option>
                            {% for meet in meetings %}
                            <option value="{{meet.id}}">{{meet.title}} on {{meet.date}} {{meet.time}}</option>
                            {% endfor %}
                        </select>
                        {% endif %}
                    </div>
                    {% endif %}

                    <div class="mb-2">
                        <label for="inputAddress" class="form-label">Meeting Type</label>
                        <select class="form-select" id="meetType" name="meetType" onchange="toggleMeetType();" required>
                            <option value="0">
                                --- Select ---</option>
                            {% if meetingDetails.meetType == 'Virtual' %}
                            <option value="1" selected>
                                Virtual</option>
                            <option value="2">
                                Visit</option>
                            {% else %}
                            <option value="1">
                                Virtual</option>
                            <option value="2" selected>
                                Visit</option>
                            {% endif %}
                        </select>
                    </div>

                    <div class="mt-2" id="url" hidden>
                        <label for="inputUrl" class="form-label">Meeting URL</label>
                        {% if meetingDetails.urlAddr != "" %}
                        <div class="row align-items-center">
                            <div class="col-md-10 col-sm-9 col-xl-10">
                                <input type="url" class="form-control" id="inputUrl" name="meetUrl"
                                    placeholder="Meeting URL" value="{{meetingDetails.urlAddr}}">
                            </div>
                            <div class="col-md-2 col-sm-3 col-xl-2">
                                <a href="{{meetingDetails.urlAddr}}" target="_blank"
                                    class="btn btn-primary btn-sm">Launch</a>
                            </div>
                        </div>
                        {% else %}
                        <input type="url" class="form-control" id="inputUrl" name="meetUrl" placeholder="Meeting URL">
                        {% endif %}
                    </div>

                    <div class="mt-2" id="addr" hidden>
                        <label for="inputAddress" class="form-label">Meeting Address</label>
                        {% if meetingDetails.meetAddr != "" %}
                        <input type="text" class="form-control" id="inputAddress" name="meetAddr"
                            placeholder="Meeting Place Address" value="{{meetingDetails.meetAddr}}">
                        {% else %}
                        <input type="text" class="form-control" id="inputAddress" name="meetAddr"
                            placeholder="Meeting Place Address">
                        {% endif %}
                    </div>

                    <div class="form-floating mt-4">
                        {% if view %}
                        <textarea class="form-control" placeholder="Leave a comment here" id="desc" name="desc"
                            rows="2">{{meetingDetails.description}}</textarea>
                        {% else %}
                        <textarea class="form-control" placeholder="Leave a comment here" id="desc" name="desc"
                            rows="2"></textarea>
                        {% endif %}
                        <label for="desc">Description</label>
                    </div>
                    
                    {% if meetingDetails.meetingNotes == "" %}
                    <div class="mt-3">
                        <div id="commentBtn">
                            <button type="button" onclick="toggleComment();"
                                style="flex-direction: row; align-items: flex-end;" class="btn btn-primary btn-sm"><i
                                    class="fa fa-plus"></i> New Comment</button>
                        </div>
                        <div id="commentCloseBtn" hidden>
                            <button type="button" onclick="toggleComment();" class="btn btn-danger btn-close"></button>
                        </div>
                    </div>
                    {% endif %}

                    {% if meetingDetails.meetingNotes != "" %}
                    <div class="form-floating mt-4">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"
                            name="meetNote">{{meetingDetails.meetingNotes}}</textarea>
                        <label for="floatingTextarea">Comments</label>
                    </div>
                    {% endif %}

                    {% if meetingDetails.meetingNotes == "" %}
                    <div class="form-floating mt-4" id="comment" hidden>
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"
                            name="meetNote"></textarea>
                        <label for="floatingTextarea">Comments</label>
                    </div>
                    {% endif %}

                    <hr>
                    <button type="submit" class="btn btn-primary">Update</button>
                    <a type="submit" class="btn btn-danger mt-3"
                        href="{% url 'Event-Delete' %}?type={{eventTypes.Meeting}}&id={{meetingDetails.id}}">Delete</a>
                </form>
            </div>
        </div>
    </div>
    {% else %}
    <div class="pb-4 pt-2 d-block mx-auto">
        <div class="card mb-4 mt-3">
            <div class="card-body px-4">
                <form method="POST" action="{% url 'Add-New' %}">
                    {% csrf_token %}
                    <h3>{{eventTypes.Task}} Details</h3>
                    <hr>
                    <input type="text" name="event" value="Task" hidden>
                    <input type="text" name="taskID" value="{{taskDetails.id}}" hidden>
                    <div class="row mb-2">
                        <div class="col">
                            <label for="date" class="form-label">Deadline Date</label>
                            {% if view %}
                            <input type="date" id="date" name="date" class="form-control" placeholder="First name"
                                aria-label="First name" value="{{taskDetails.date}}">
                            {% else %}
                            <input type="date" id="date" name="date" class="form-control" placeholder="First name"
                                aria-label="First name" required>
                            {% endif %}
                        </div>
                        <div class="col">
                            <label for="time" class="form-label">Deadline Time</label>
                            {% if view %}
                            <input type="time" id="time" name="time" class="form-control" placeholder="Last name"
                                aria-label="Last name" value="{{taskDetails.time}}">
                            {% else %}
                            <input type="time" id="time" name="time" class="form-control" placeholder="Last name"
                                aria-label="Last name" required>
                            {% endif %}
                        </div>
                    </div>

                    <div class="mb-2">
                        <label for="taskGrp" class="form-label">Task Group</label>
                        <select class="form-select" id="taskGrp" name="taskGrp" required onchange="toggleTaskGroup();">
                            {% if taskDetails.taskGroup == "" %}
                            <option value="-1" selected>Independent &check;</option>
                            {% else %}
                            <option value="-1">Independent</option>
                            {% endif %}
                            <option value="0">Add New</option>
                            {% for taskTitle in taskGroupTitle %}
                            {% if taskDetails.taskGroup == taskTitle %}
                            <option value="{{taskTitle}}" selected>{{taskTitle}} &check;</option>
                            {% else %}
                            <option value="{{taskTitle}}">{{taskTitle}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3" id="taskgrp" hidden>
                        <label for="grpTitle" class="form-label">Task Group Title</label>
                        <input type="text" class="form-control" id="grpTitle" name="grpTitle"
                            placeholder="Task Group title">
                    </div>
                    <div class="mb-3">
                        <label for="task" class="form-label">Title</label>
                        {% if view %}
                        <input type="text" class="form-control" id="title" name="title" placeholder="Meeting title"
                            value="{{taskDetails.title}}">
                        {% else %}
                        <input type="text" class="form-control" id="title" name="title" placeholder="Meeting title"
                            required>
                        {% endif %}
                    </div>

                    {% if tasks %}
                    <div class="mb-2">
                        <label for="meetRef" class="form-label">Task Reference</label>
                        {% if view %}
                        <div class="row align-items-center">
                            {% if taskDetails.refTask != 0 %}
                            <div class="col-md-10 col-sm-9 col-xl-10 mb-2">
                                <select class="form-select" id="taskRef" name="taskRef">
                                    <option value="-1">
                                        --- Select ---</option>
                                    {% if taskDetails.refTask == 0 %}
                                    <option value="0" selected>
                                        Independent Task &check;</option>
                                    {% else %}
                                    <option value="0">
                                        Independent Task</option>
                                    {% endif %}
                                    {% for task in tasks %}
                                    {% if task.id == taskDetails.refTask %}
                                    <option value="{{task.id}}" selected><span class="bg-primary">{{task.title}} on
                                            {{task.date}} {{task.time}} &check;</span></option>
                                    {% else %}
                                    <option value="{{task.id}}">{{task.title}} on {{task.date}} {{task.time}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            {% else %}
                            <div class="mb-2">
                                <select class="form-select" id="taskRef" name="taskRef">
                                    <option value="-1">
                                        --- Select ---</option>
                                    {% if taskDetails.refTask == 0 %}
                                    <option value="0" selected>
                                        Independent Task &check;</option>
                                    {% else %}
                                    <option value="0">
                                        Independent Task</option>
                                    {% endif %}
                                    {% for task in tasks %}
                                    {% if task.id == taskDetails.refTask %}
                                    <option value="{{task.id}}" selected><span class="bg-primary">{{task.title}} on
                                            {{task.date}} {{task.time}} &check;</span></option>
                                    {% else %}
                                    <option value="{{task.id}}">{{task.title}} on {{task.date}} {{task.time}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            {% endif %}
                            <div class="col-md-2 col-sm-3 col-xl-2">
                                {% if taskDetails.refTask != 0 %}
                                <a href="{% url 'Show-Event' %}?type={{eventTypes.Task}}&id={{taskDetails.refTask}}"
                                    target="_blank" class="btn btn-primary btn-sm">Show</a>
                                {% endif %}
                            </div>
                        </div>
                        {% else %}
                        <select class="form-select" id="taskRef" name="taskRef">
                            <option value="0">
                                --- Select ---</option>
                            {% for task in tasks %}
                            <option value="{{task.id}}">{{task.title}} on {{task.date}} {{task.time}}</option>
                            {% endfor %}
                        </select>
                        {% endif %}
                    </div>
                    {% endif %}
                    <div class="form-floating mt-4">
                        {% if view %}
                        <textarea class="form-control" placeholder="Leave a comment here" id="desc" name="desc"
                            rows="2">{{taskDetails.description}}</textarea>
                        {% else %}
                        <textarea class="form-control" placeholder="Leave a comment here" id="desc" name="desc"
                            rows="2"></textarea>
                        {% endif %}
                        <label for="desc">Task Description</label>
                    </div>
                    {% if taskDetails.taskNotes == "" %}
                    <div class="mt-3">
                        <div id="commentBtn">
                            <button type="button" onclick="toggleComment();"
                                style="flex-direction: row; align-items: flex-end;" class="btn btn-primary btn-sm"><i
                                    class="fa fa-plus"></i> New Comment</button>
                        </div>
                        <div id="commentCloseBtn" hidden>
                            <button type="button" onclick="toggleComment();" class="btn btn-danger btn-close"></button>
                        </div>
                    </div>
                    {% endif %}

                    {% if taskDetails.taskNotes != "" %}
                    <div class="form-floating mt-4">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"
                            name="taskNote">{{taskDetails.taskNotes}}</textarea>
                        <label for="floatingTextarea">Comments</label>
                    </div>
                    {% endif %}

                    {% if taskDetails.taskNotes == "" %}
                    <div class="form-floating mt-4" id="comment" hidden>
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"
                            name="taskNote"></textarea>
                        <label for="floatingTextarea">Comments</label>
                    </div>
                    {% endif %}
                    <hr>
                    <button type="submit" class="btn btn-primary">Update</button>
                    <a type="submit" class="btn btn-danger mt-3"
                        href="{% url 'Event-Delete' %}?type={{eventTypes.Task}}&id={{taskDetails.id}}">Delete</a>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
</div>

{% endblock body %}

{% block javascript %}
<script>
    window.onload = toggleMeetType;
    window.onload = toggleComment;
    function toggleMeetType() {
        if (document.getElementById("meetType").value == 1) {
            document.getElementById("url").hidden = false;
            document.getElementById("addr").hidden = true;
        } else if (document.getElementById("meetType").value == 2) {
            document.getElementById("addr").hidden = false;
            document.getElementById("url").hidden = true;
        }
        else {
            document.getElementById("addr").hidden = true;
            document.getElementById("url").hidden = true;
        }
    }
    function toggleTaskGroup() {
        if (document.getElementById('taskGrp').value == 0) {
            document.getElementById('taskgrp').hidden = false;
        }
        else {
            document.getElementById('taskgrp').hidden = true;
        }
    }

    function toggleComment() {
        if (document.getElementById('comment').hidden) {
            document.getElementById('comment').hidden = false;
            document.getElementById('commentCloseBtn').hidden = false;
            document.getElementById('commentBtn').hidden = true;
        } else {
            document.getElementById('comment').hidden = true;
            document.getElementById('commentCloseBtn').hidden = true;
            document.getElementById('commentBtn').hidden = false;
        }
    }
</script>
{% endblock javascript %}